body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #222;
  padding: 0;
  height: 100vh;
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease-in-out;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  height: 80%;
}
.chat__message-box {
  flex: 1;
  margin-bottom: 1.5rem;
  width: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
}
.chat__form {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  input {
    flex: 1;
    border: none;
    border-radius: 3px;
    background-color: #444;
    padding: 0.5rem;
    color: #ccc;
  }
  button {
    margin-left: 0.5rem;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #333;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    color: #ccc;
    &:hover {
      background-color: #444;
    }
    &:active {
      background-color: #555;
    }
  }
}
.text-bubble {
  margin-bottom: 0.5rem;
  border-radius: 3px;
  background-color: #444;
  padding: 0.5rem;
  color: #ccc;
}
@media screen and (max-width: 768px) {
  .chat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    width: 90%;
    height: 95%;
  }
}
